<aside class="share">
  {{ with .Site.Params.baiduShare }}
  <div class="share-baidu">
    <div class="bdsharebuttonbox"><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间">QQ空间</a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信">微信</a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博">新浪微博</a><a href="#" class="bds_copy" data-cmd="copy" title="分享到复制网址">复制网址</a></div>
    <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdPic":"","bdStyle":"0","bdSize":"16"},"share":{},"image":{"tag" : "img","viewList":["qzone","tsina","tqq","renren","weixin"],"viewText":"分享到：","viewSize":"16"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["qzone","tsina","tqq","renren","weixin"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
  </div>
  {{ else }}
  <a href="http://twitter.com/intent/tweet?url={{ .Permalink }}&text={{ .Title }}&tw_p=tweetbutton" title='{{ i18n "twitter_share" }}' class="tw" target="_blank" rel="nofollow"><i class="fa fa-twitter" aria-hidden="true"></i></a>
  <a href="http://www.facebook.com/sharer.php?u={{ .Permalink }}&t={{ .Title }}" title='{{ i18n "facebook_share" }}' class="fb" target="_blank" rel="nofollow"><i class="fa fa-facebook" aria-hidden="true"></i></a>
  <a href="https://plus.google.com/share?url={{ .Permalink }}" title='{{ i18n "google_plus_share" }}' class="gp" target="_blank" rel="nofollow"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
  <a href="http://line.me/R/msg/text/?{{ .Title }} {{ .Permalink }}" title='{{ i18n "line_share" }}' class="ln" target="_blank" rel="nofollow">LINE</a>
  <a href="http://getpocket.com/edit?url={{ .Permalink }}&title={{ .Title }}" title='{{ i18n "pocket_save" }}' class="pk" target="_blank" rel="nofollow"><i class="fa fa-get-pocket" aria-hidden="true"></i></a>
  <a href="http://b.hatena.ne.jp/add?mode=confirm&url={{ .Permalink }}&title={{ .Title }}" title='{{ i18n "hatena_book_mark" }}' class="ht" target="_blank" rel="nofollow">B!</a>
  {{ end }}
</aside>